[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = ">=3.12.4,<3.13"
Django = "<3.3,>=3.2.4"
drf-spectacular = ">=0.15.1, <0.16"
djangorestframework-jwt = "*"
gunicorn = "19.0.0"
[dev-packages]

[requires]
python_version = "3.10"
